html {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Layout */

#main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: lightgrey;
  display: flex;
}

#toolbox-wrapper {
  background: white;
  width: 195px;
  height: calc(100vh - 10px);
  margin: 5px 0 5px 5px;
  float: left;
  border-radius: 3px;
}

#diagram-wrapper {
  background: white;
  width: calc(100% - 210px);
  height: calc(100vh - 10px);
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
}

#diagram {
  height: 100%;
  position: relative;
}

/* Controls (state nodes) */

.control {    
  border-radius: 100%;
  border: 2px solid black;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  cursor: move;
  background-color: white;
  position: absolute;
}

.control.accepting {
  outline: 2px solid black;
  outline-offset: -8px;
}

.control.starting {
  border-style: dashed;
}

.window {
  z-index: 20;
}

.jtk-connector {
  z-index: 4;
}

.jtk-endpoint {
  z-index: 5;
}

.jtk-overlay {
  z-index: 6;
  background-color: rgba(220, 220, 220, 0.9);
  padding: 2px 5px;
  border-radius: 50vh;
}

/* Context menu */

.context-menu {
  border: solid 1px #CCC;
  position: absolute;
  display: none;
  z-index: 3000;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
}

.context-menu li {
  border-bottom: solid 1px #CCC;
}

.context-menu li:last-child {
  border: none;
}

.context-menu li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: blue;
}

.context-menu li a:hover {
  background: blue;
  color: #FFF;
}